  <!-- plugins start -->
  <script src="https://cdn.jsdelivr.net/npm/docsify/lib/plugins/ga.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify/lib/plugins/emoji.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify/lib/plugins/search.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify/lib/plugins/gitalk.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify/lib/plugins/external-script.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify/lib/plugins/zoom-image.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify-copy-code"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify-count/dist/countable.js"></script>
  {# <script src="{{ url_for('static', path='js/evanyou.js') }}"></script> #}
  <!-- plugins end -->
  <!-- highlight start -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-bash.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-php.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-python.js"></script>
  <!-- highlight end -->
  <!-- others start -->
  <script src="https://cdn.jsdelivr.net/npm/docsify-pagination/dist/docsify-pagination.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify-footer-enh/dist/docsify-footer-enh.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify-fontawesome/dist/docsify-fontawesome.min.js"></script>
  <!-- others end -->
  <!-- 引入Vue和Vuep -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuep/dist/vuep.min.js"></script>