#  Ignore everything
*

# Except files
!config.json
!config.py
!LICENSE
!manage.py
!README.md
!requirements.txt

# Except directories
!data/
!items/
!router/
!static/
!templates/
!utils/
*__pycache__/
