.idea/
.vscode/
.well-known/
cache/
conf/
test/
venv/
__pycache__/
.dockerignore
.env
.gitattributes
.gitignore
.htaccess
.user.ini
*.log
*.db
docker-compose.yml
Dockerfile
LICENSE
README.md
screenshot.png
test.py