#  Ignore everything
*

# Except files
!config.json
!config.py
!LICENSE
!manage.py
!README.md
!pyproject.toml

# Except directories
!api/
!auth/
!data/
!items/
!router/
!sql/
!static/
!templates/
!utils/
