aiofiles==0.6.0
aiohttp==3.7.3
aiomysql==0.0.21
aioredis==1.3.1
baidu-aip==2.2.18.0
beautifulsoup4==4.9.3
bilibili_api==2.1.4
cffi==1.14.3
cssutils==1.0.2
email-validator==1.1.2
eliot==1.12.0
eliot-tree==19.0.1
fake-useragent==0.1.11
fastapi==0.62.0
#gunicorn==
Jinja2==2.11.2
lxml==4.6.2
MyQR==2.3.1
#numpy==1.19.4
#opencv-python==4.4.0.46
#pandas==1.1.4
Pillow==8.0.1
pixivpy-async==1.2.11
playwright==0.170.0
pydantic==1.7.3
pysnooper==0.4.2
python-dotenv==0.14.0
python-multipart==0.0.5
PyMySQL==0.9.3
requests==2.25.0
selenium==3.141.0
sqlalchemy==1.3.22
starlette==0.13.6
twint==2.1.20
uvicorn==0.13.2
