body {
    display: block;
    margin: 8px;
}

* {
    box-sizing: border-box;
}

body {
    text-rendering: auto;
}

#app, body, html {
    height: 100%;
}

body {
    margin: 0;
    font: 14px/1.4 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-rendering: geometricPrecision;
}

.wrapper {
    /*width: 1000px;*/
    /*height: 500px;*/
    /*border: 2px solid red;*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -250px;*/
    /*margin-left: -500px;*/
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:auto;
}

.night {
    background-color: #202124;
    color: #aaa;
}

.night img {
    filter: brightness(40%);
}

.night ul li, .buttons a, #file, .upload-button button {
    color: #aaaaaa;
    text-align: center;
}

.night ul li a, .night footer a {
    color: #00bbfc;
}

h1 {
    color: inherit;
    font-size: 2.5rem;
    font-weight: 300;
    position: relative;
    text-align: center;
}

h1 small {
    font-size: 1rem;
}

h3 {
    margin-top: 20px;
    color: #999;
    font-weight: normal;
    letter-spacing: 1px;
}

.main {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.features {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.7;
}

.buttons {
    font-size: 1.0rem;
    position: relative;
    text-align: center;
}

.button {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    margin-right: 20px;
    color: #333;
}

.button:hover {
    border-color: #42b983;
    color: #42b983;
    text-decoration: none;
}

.upload-button {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    margin-right: 10px;
    color: #333;
}

.upload-button:hover {
    border-color: #42b983;
    color: #42b983;
    text-decoration: none;
}

/*文字遮罩*/
.text-heimu {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
    transition: color .3s;
}

/*文字遮罩显示*/
.text-heimu:active, .text-heimu:hover {
    color: #fff
}

ul li {
    text-align: center;
}

a {
    color: #34495e;
    text-decoration: none;
}

[aria-label] {
    text-rendering: optimizeSpeed;
}

footer {
    color: inherit;
    font-weight: 300;
    /*margin: .0rem .0rem;*/
    text-align: center;
}

footer .icon {
    display: inline-block;
    margin: 0 1px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    animation: iconAnimate 1.33s ease-in-out infinite;
}

@keyframes iconAnimate {
    0%, 100% {
        transform: scale(1)
    }
    10%, 30% {
        transform: scale(.9)
    }
    20%, 40%, 50%, 60%, 70%, 80% {
        transform: scale(1.1)
    }
}

.github-corner svg {
    fill: #64CEAA;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.night .github-corner svg {
    fill: #64ceaa91;
    color: #333;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-25deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-25deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

#evanyou {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.leftTop {
  width: 30px;
  height: 30px;
  /*border: 1px solid #ccc;*/
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 0px;
}

.feather {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

