body {
	text-rendering: auto;
}

body.night {
	background-color: #202124;
	color: #aaa;
}

body.night img {
	filter: brightness(40%);
}

body.night ul li,.landing-buttons a,#file,.upload-button button {
	color: #aaaaaa;
	text-align: center;
}

body.night ul li a,.night footer a {
	color: #00bbfc;
}

h1 {
	color: inherit;
	font-size: 2.5rem;
	font-weight: 300;
	position: relative;
	text-align: center;
}

h1 small {
	font-size: 1rem;
}

h3 {
	margin-top: 20px;
	color: #999;
	font-weight: normal;
	letter-spacing: 1px;
}

.landing {
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
}

.features {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.7;
}


.landing-buttons {
	font-size: 1.0rem;
	position: relative;
	text-align: center;
}

.landing-button {
	border: 1px solid #ccc;
	border-radius: 33px;
	padding: 10px 30px;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	margin-right: 20px;
	color: #333;
}

.landing-button:hover {
	border-color: #42b983;
	color: #42b983;
	text-decoration: none;
}

.upload-button {
	border: 1px solid #ccc;
	border-radius: 33px;
	padding: 10px 30px;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	margin-right: 10px;
	color: #333;
}

.upload-button:hover {
	border-color: #42b983;
	color: #42b983;
	text-decoration: none;
}

.github-corner:hover .octo-arm{
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,100%{transform:rotate(0)}20%,
	60%{transform:rotate(-25deg)}40%,
	80%{transform:rotate(10deg)}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {animation:none}
	.github-corner .octo-arm {animation:octocat-wave 560ms ease-in-out}
}

#evanyou-canvas {
    z-index: -1 !important;
}

footer {
	color: inherit;
    font-weight: 300;
    margin: .625rem 0 2.5rem;
    text-align: center;
}

ul li {
   text-align: center;
}
