{% extends 'base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content %}
<div class="main">
    <h1 class="h1">{{ title }}</h1>
    <canvas id="evanyou"></canvas>
    <script src="{{ url_for('static', path='js/evanyou.js') }}"></script>
    <div style="width: 50%;background-color: #f0f0f000;padding: 2% 5%;border-radius: 10px;">
        <div id="dino"></div>
        <script>initRunner('#dino');</script>
    </div>
    <script src="{{ url_for('static', path='libs/dino.js') }}"></script>
    <script>initRunner('#dino');</script>
    <footer>
        <small>
            © 2020 <a href="https://white-album.top/">White Album</a> Made <span style="color:red">❤</span>
            By <a href="https://github.com/jamesyangget/">James Yang</a>
            <a href="/v1/docs">API</a>
            <a href="javascript:click();">统计</a>
            <a href="javascript:dark();">夜间模式</a>
        </small>
    </footer>
</div>
{% endblock %}