{% extends 'base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content %}
<div class="main">
    <h1 class="h1">{{ title }}</h1>
    <canvas id="evanyou"></canvas>
    <script src="{{ url_for('static', path='js/evanyou.js') }}"></script>
    <div style="width: 50%;background-color: #f0f0f000;padding: 2% 5%;border-radius: 10px;">
        <div id="dino"></div>
        <script>initRunner('#dino');</script>
    </div>
    <script src="{{ url_for('static', path='libs/dino.js') }}"></script>
    <script>initRunner('#dino');</script>
    {% include "tmpl/footer.html" ignore missing with context %}
</div>
{% endblock %}
