<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="theme-color" content="#2ecc71">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
  <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docute@3.4.12/dist/docute.css">
  <script src="{{ url_for('static', path='js/main.js') }}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126485680-6"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-126485680-6');
  </script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <!-- don't remove this part start -->
  <div id="app"></div>
  <script src="https://cdn.jsdelivr.net/npm/docute-evanyou/dist/evanyou.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docute@3.4.12/dist/docute.js"></script>
  {% block body %}
  {% block content%}
  {% endblock %}
  {% endblock %}
  <!-- don't remove this part end -->
</body>
</html>