{% extends 'base.html' %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<script>
    docute.init({
        title: 'LickingDogAPI',
        landing: "static/app/landing.html",
        home: "https://cdn.jsdelivr.net/gh/jamesyangget/LickingDogAPI/static/README.md",
        repo: "jamesyangget/LickingDogAPI",
        twitter: "james_ya_",
        "edit-link": "https://github.com/egoist/docute/blob/master/docs/zh-Hans/README.md",
        versions: {'v1 (Latest)': {link: '/home'}},
        plugins: [evanyou()]
    });
</script>
{% endblock %}