{% extends 'base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content %}
<div class="main">
    <h1 class="h1">
        <span>{{ title }} <small>1.0.0</small></span>
    </h1>
    <h3 class="h3">简单功能的个人实现 | 舔狗API 🍭</h3>
    <img src="{{ url_for('static', path='img/to_be_continued.png') }}" align="center"><br>
    <div class="buttons">
        <a class="button" target="_blank" href="./start.html">开始</a>
        <a class="button" target="_blank" href="https://github.com/jamesyangget/LickingDogAPI">Github</a>
    </div>
    <br><br>
    {% include "tmpl/footer.html" ignore missing with context %}
</div>
{% endblock %}
