<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
  <link href="{{ url_for('static', path='css/ncov.css') }}" rel="stylesheet">
  <script src="https://img.hcharts.cn/highmaps/highmaps.js"></script>
  <script src="https://gallery.echartsjs.com/dep/echarts/map/js/world.js"></script>
  <script src="https://gallery.echartsjs.com/dep/echarts/map/js/china.js"></script>
</head>
<body>
  <div id="map" style="width:800px;height: 500px;"></div>
<!--<div class="wrapper" style="min-height: 450px;">
    <p class="mapTap"><i></i>实时播报</p>
    <div class="tab2">
        <div class="block">
            <div class="tabLeft2">
                <span class="leftTime">3 小时前<br><span style="font-size: 10px; color: rgb(153, 153, 153);">4-13 00:21</span></span>
                <span class="leftDot"></span>
                <span class="leftLine"></span>
            </div>
            <div class="tabRight">
                <p class="topicTitle"><i>最新</i>全球新冠肺炎确诊病例突破180万 死亡病例超11万</p>
                <p class="topicContent">根据美国约翰斯·霍普金斯大学的统计数据显示，截至美国东部时间12日11时30分（北京时间12日23时30分），全球新冠肺炎确诊病例已经突破180万，达到1800791例，死亡病例超过11万，达到110892例。</p>
                <p class="topicFrom">信息来源：央视新闻app</p>
            </div>
        </div>
    </div>
</div>-->
  <script src="{{ url_for('static', path='app/highecharts/ncov.config.js') }}"></script>
</body>
</html>