{% extends 'base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content %}
<div class="main">
    <h1 class="h1">{{ title }}</h1>
    <ul>
        {% for index, href, caption in [('1.', 'ncov.html', '2020新冠肺炎实时疫情图'),
                                        ('2.', 'tiangou.html', '舔狗日记'),
                                        ('3.', 'catvsdog.html', '猫狗大战'),
                                        ('4.', 'iris.html', '鸢尾花数据分类'),
                                        ('5.', 'face.html', '人脸识别'),
                                        ('6.', 'speach.html', '语音识别')] %}
            <li>
                <span>{{ index }}</span>
                <a href="{{ href }}">{{ caption }}</a>
            </li>
        {% endfor %}
    </ul>
    <footer>
        <small>
            © 2020 <a href="https://white-album.top/">White Album</a> Made <span class="icon" style="color:red">❤</span>
            By <a href="https://github.com/jamesyangget/">James Yang</a>
            <a href="/v1/docs">API</a>
            <a href="javascript:void(0);" onclick="click()">统计</a>
            <a href="javascript:void(0);" onclick="dark()">夜间模式</a>
        </small>
    </footer>
</div>
{% endblock %}
