{% extends 'base.html' %}
{% block title%}{{ title }}{% endblock %}
{% block content %}
<div class="main">
	<h1 class="h1">{{ title }}</h1>
    <ul>
        <li>
            <span>1.</span>
            <a href="./ncov.html">2020新冠肺炎实时疫情图</a>
        </li>
        <li>
            <span>2.</span>
            <a href="./tiangou.html">舔狗日记</a>
        </li>
        <li>
            <span>3.</span>
            <a href="./catvsdog.html">猫狗大战</a>
        </li>
        <li>
            <span>4.</span>
            <a href="./iris.html">鸢尾花数据分类</a>
        </li>
        <li>
            <span>5.</span>
            <a href="./face.html">人脸识别</a>
        </li>
        <li>
            <span>6.</span>
            <a href="./speach.html">语音识别</a>
        </li>
    </ul>
    <footer>
        <small>
            © 2020 <a href="https://white-album.top/">White Album</a> Made <span class="icon" style="color:red">❤</span>
            By <a href="https://github.com/jamesyangget/">James Yang</a>
            <a href="/v1/docs">API</a>
            <a href="javascript:void(0);" onclick="click()">统计</a>
            <a href="javascript:void(0);" onclick="dark()">夜间模式</a>
        </small>
    </footer>
</div>
{% endblock %}