var start_time = {{ start_time }};
var end_time = new Date().getFullYear();
var time;
if (start_time===end_time) {
    time=start_time;
} else {
    time=start_time+'-'+end_time;
};
window.$docsify = {
    homepage: 'home.md',  //入口文件
    basePath: '/',  //根目录
    repo: 'https://github.com/llxlr/LickingDogAPI/',  //github repo
    loadSidebar: true,  //侧边栏
    alias: {  //路由别名
        '/.*/_sidebar.md': '/_sidebar.md'  //侧边栏配置
    },
    maxLevel: 1,
    subMaxLevel: 2,
    loadNavbar: true,  //导航栏
    auto2top: true,
    coverpage: true,  //封面页
    onlyCover: true,  //只在访问主页时加载封面
    logo: '/static/img/logo.svg', //logo
    name: 'api',  //文档标题
    nameLink: '/',  //文档标题跳转地址
    themeColor: '#64CEAA',  //主题色
    executeScript: true,  //执行文档script标签里的脚本
    noEmoji: false,  //禁用emoji解析
    mergeNavbar: true,  //小屏设备下合并导航栏到侧边栏
    formatUpdated: '{YYYY}/{MM}/{DD} {HH}:{mm}:{ss}',  //通过 {docsify-updated} 变量显示>
    //fallbackLanguages: ['zh-cn', 'en'],  //语言
    notFoundPage: true,  //自定义404页
    ga: '{{ analysis.google }}',  //谷歌跟踪ID
    evanyou: true,
    copyCode: { // 复制代码
        buttonText : '复制到剪贴板',
        errorText  : '错误',
        successText: '成功'
    },
    count:{ //字数统计
        countable:true,
        fontsize:'0.9em',
        color:'rgb(90,90,90)',
        language:'chinese'
    },
    search: { //全文搜索
        maxAge: 86400000, //过期时间，单位毫秒，默认一天
        paths: 'auto',
        placeholder: '搜索',
        noData: '找不到结果!',
        depth: 2  //搜索标题的最大程级, 1~6
    },
    pagination: { //分页导航
        previousText: '上一节',
        nextText: '下一节',
        crossChapter: true
    },
    footer: {
        copy: '<span>&copy; '+time+'</span>',
        auth: '<a href="https://white-album.top/" target="_blank">White Album</a> Made <span class="icon" style="color:red">❤</span> By <a href="https://github.com/llxlr/" target="_blank">James Yang</a><br>Based on docsify <span id="info"></span>',
        pre: '<hr/>',
        style: 'text-align: right;',
        style: 'className'
    }
}